<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kopipe_kun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <kopipe_kun.Properties.Settings>
            <setting name="Title1" serializeAs="String">
                <value />
            </setting>
            <setting name="Title2" serializeAs="String">
                <value />
            </setting>
            <setting name="Title3" serializeAs="String">
                <value />
            </setting>
            <setting name="Title5" serializeAs="String">
                <value />
            </setting>
            <setting name="Title6" serializeAs="String">
                <value />
            </setting>
            <setting name="Title7" serializeAs="String">
                <value />
            </setting>
            <setting name="Title8" serializeAs="String">
                <value />
            </setting>
            <setting name="Title9" serializeAs="String">
                <value />
            </setting>
            <setting name="Title10" serializeAs="String">
                <value />
            </setting>
            <setting name="Title11" serializeAs="String">
                <value />
            </setting>
            <setting name="Title12" serializeAs="String">
                <value />
            </setting>
            <setting name="Title13" serializeAs="String">
                <value />
            </setting>
            <setting name="Title14" serializeAs="String">
                <value />
            </setting>
            <setting name="Title15" serializeAs="String">
                <value />
            </setting>
            <setting name="Title16" serializeAs="String">
                <value />
            </setting>
            <setting name="Title17" serializeAs="String">
                <value />
            </setting>
            <setting name="Title18" serializeAs="String">
                <value />
            </setting>
            <setting name="Title19" serializeAs="String">
                <value />
            </setting>
            <setting name="Title20" serializeAs="String">
                <value />
            </setting>
            <setting name="Title21" serializeAs="String">
                <value />
            </setting>
            <setting name="Title22" serializeAs="String">
                <value />
            </setting>
            <setting name="Title23" serializeAs="String">
                <value />
            </setting>
            <setting name="Title24" serializeAs="String">
                <value />
            </setting>
            <setting name="Title25" serializeAs="String">
                <value />
            </setting>
            <setting name="Title26" serializeAs="String">
                <value />
            </setting>
            <setting name="Title27" serializeAs="String">
                <value />
            </setting>
            <setting name="Title28" serializeAs="String">
                <value />
            </setting>
            <setting name="Title29" serializeAs="String">
                <value />
            </setting>
            <setting name="Title30" serializeAs="String">
                <value />
            </setting>
            <setting name="Content1" serializeAs="String">
                <value />
            </setting>
            <setting name="Content2" serializeAs="String">
                <value />
            </setting>
            <setting name="Content3" serializeAs="String">
                <value />
            </setting>
            <setting name="Content4" serializeAs="String">
                <value />
            </setting>
            <setting name="Content5" serializeAs="String">
                <value />
            </setting>
            <setting name="Content6" serializeAs="String">
                <value />
            </setting>
            <setting name="Content7" serializeAs="String">
                <value />
            </setting>
            <setting name="Content8" serializeAs="String">
                <value />
            </setting>
            <setting name="Content9" serializeAs="String">
                <value />
            </setting>
            <setting name="Content10" serializeAs="String">
                <value />
            </setting>
            <setting name="Content11" serializeAs="String">
                <value />
            </setting>
            <setting name="Content12" serializeAs="String">
                <value />
            </setting>
            <setting name="Content13" serializeAs="String">
                <value />
            </setting>
            <setting name="Content14" serializeAs="String">
                <value />
            </setting>
            <setting name="Content15" serializeAs="String">
                <value />
            </setting>
            <setting name="Content16" serializeAs="String">
                <value />
            </setting>
            <setting name="Content17" serializeAs="String">
                <value />
            </setting>
            <setting name="Content18" serializeAs="String">
                <value />
            </setting>
            <setting name="Content19" serializeAs="String">
                <value />
            </setting>
            <setting name="Content20" serializeAs="String">
                <value />
            </setting>
            <setting name="Content21" serializeAs="String">
                <value />
            </setting>
            <setting name="Content22" serializeAs="String">
                <value />
            </setting>
            <setting name="Content23" serializeAs="String">
                <value />
            </setting>
            <setting name="Content24" serializeAs="String">
                <value />
            </setting>
            <setting name="Content25" serializeAs="String">
                <value />
            </setting>
            <setting name="Content26" serializeAs="String">
                <value />
            </setting>
            <setting name="Content27" serializeAs="String">
                <value />
            </setting>
            <setting name="Content28" serializeAs="String">
                <value />
            </setting>
            <setting name="Content29" serializeAs="String">
                <value />
            </setting>
            <setting name="Content30" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ButtonKind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TabName1" serializeAs="String">
                <value />
            </setting>
            <setting name="TabName2" serializeAs="String">
                <value />
            </setting>
            <setting name="TabName3" serializeAs="String">
                <value />
            </setting>
        </kopipe_kun.Properties.Settings>
    </userSettings>
</configuration>