<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kopipe_kun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <kopipe_kun.Properties.Settings>
            <setting name="Title1" serializeAs="String">
                <value />
            </setting>
            <setting name="Title2" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonKind" serializeAs="String">
                <value>0</value>
            </setting>
        </kopipe_kun.Properties.Settings>
    </userSettings>
</configuration>